.wrap {
	width: 100%;
	height: 100%;
	background-color: #F5F5F5;
}

.header {
	position: relative;
	@include d_f(flex, none, center);
	width: 100%;
	height: 60px;
	padding: 0 20px;
	box-shadow: 0px 4px 15px 0px #0000001A;
}

.logo {
	width: 128px;
	height: 32px;
}

.content {
	overflow: hidden;
	@include d_f(flex);
	width: 100%;
	height: calc(100% - 60px);
}

.leftpanel {
	flex: none;
	// width: 250px;
	height: 100%;
	background-color: #F5F5F5;
	border: 1px solid #E8E8E8;
	transform: translateX(-100%);
}

.mappanel {
	// overflow: hidden;
	overflow-x: auto;
	position: relative;
	width: 100%;
	height: 100%;

	// .mappanel_box
	&_box {
		@include d_f(flex, center, none);
		flex-wrap: wrap;
		// align-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding-top: 50px;;
		padding-left: 50px;
		transform-style: preserve-3d;
		// transform: rotateX(-30deg) rotateY(-45deg);

		// .mappanel_box_row
		&_row {
			position: relative;
			@include d_f(inline-flex, none, center);
			height: 90px;
			// width: 100%;
			// transform-style: preserve-3d;
		}

		// .mappanel_box_canvas
		&_canvas {
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.rode {
	position: relative;
	width: 10px;
	height: 80px;
}

.side {
	position: relative;
	// @include d_f(flex,center,center);
	width: 115px;
	height: 10px;
	transform-style: preserve-3d;
	transform: rotateX(0deg) rotateY(0deg);
	// transform: rotateX(-30deg) rotateY(-45deg) ;
	// translateY(var(--sideY) px)


	// .side_box
	&_box {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 1px solid #DCDCDC;

		&._top,
		&._left {
			width: 60px;
		}

		&._left,
		&._right {
			height: 30px;
		}

		&._top {
			// background-color: #FFFFFF;
			background-color: blue;
			transform: rotateX(90deg) translateZ(50px);
		}

		&._left {
			// background-color: #ECECEC;
			background-color: red;
			transform: translateZ(50px);
		}

		&._right {
			// background-color: #ECECEC;
			background-color: yellow;
			transform: rotateY(90deg) translateZ(10px);
		}



	}
}

.ball {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: red;
	border-radius: 100%;
	// transform-style: preserve-3d;
	// transform:translateX(0px) translateY(0px) rotateX(51deg) rotateY(165deg) ;
	transform: translateX(-24px) translateY(19px);
}