.wrap {
	width: 100%;
	height: 100%;
	background-color: #F5F5F5;
}

.header {
	position: relative;
	@include d_f(flex, none, center);
	width: 100%;
	height: 60px;
	padding: 0 20px;
	box-shadow: 0px 4px 15px 0px #0000001A;
}

.normal_btn {
	flex: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35px;
	background-color: #2E7FDF;
	border: 1px solid #E5E5E5;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.52px;
	text-align: left;
	border-radius: 4px;
	@extend %hand;
	@extend %transition;

	&._report::before {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		margin-right: 6px;
		background: url('../images/icon_report.svg')no-repeat center/contain;
	}

	@include hoverHandler {
		opacity: .8;
	}
}

.normal_sel {
	flex: none;
	position: relative;
	display: block;
	width: 100%;
	height: 35px;
	border: 1px solid #E5E5E5;
	border-radius: 4px;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 4px;
		display: block;
		width: 24px;
		height: 24px;
		margin: auto;
		background: url('../images/icon_arr_down.svg')no-repeat center/contain;
	}

	.normal_btn+& {
		margin-top: 6px;
	}

	&>select {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 10px;
		background-color: transparent;
		@extend %hand;
		@extend %transition;
		background-color: #fff;
		font-size: 12px;
		font-weight: 400;
		line-height: 14.52px;
		text-align: left;

		@include hoverHandler {
			background-color: #E5E5E5;
		}
	}
}

.logo {
	width: 128px;
	height: 32px;
}

.content {
	overflow: hidden;
	@include d_f(flex);
	width: 100%;
	height: calc(100% - 60px);
	padding-left: 0;
	@extend %transition;
	&._open{
		padding-left: 250px;
	}
}



.mappanel {
	// overflow: hidden;
	overflow-x: auto;
	position: relative;
	width: 100%;
	height: 100%;

	// .mappanel_box
	&_box {
		// @include d_f(flex, center, none);
		// flex-wrap: wrap;
		// align-content: center;
		// flex-direction: column;
		width: 100%;
		height: 100%;
		padding: 30px;
		// transform-style: preserve-3d;
		// transform: rotateX(-30deg) rotateY(-45deg);
 
		// .mappanel_box_row
		&_row {
			position: relative;
			@include d_f(inline-flex, none, center);
			height: 75px;
			// width: 100%;
			// transform-style: preserve-3d;
		}

		// .mappanel_box_canvas
		&_canvas {
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.rode {
	position: relative;
	width: 10px;
	height: 80px;
}

.side {
	position: relative;
	// @include d_f(flex,center,center);
	width: 115px;
	height: 10px;
	transform-style: preserve-3d;
	transform: rotateX(0deg) rotateY(0deg);
	// transform: rotateX(-30deg) rotateY(-45deg) ;
	// translateY(var(--sideY) px)


	// .side_box
	&_box {
		position: absolute;
		width: 100px;
		height: 100px;
		border: 1px solid #DCDCDC;

		&._top,
		&._left {
			width: 60px;
		}

		&._left,
		&._right {
			height: 20px;
		}

		&._top {
			background-color: #FFFFFF;
			// background-color: blue;
			transform: rotateX(90deg) translateZ(50px);
		}

		&._left {
			background-color: #ECECEC;
			// background-color: red;
			transform: translateZ(50px);
		}

		&._right {
			background-color: #ECECEC;
			// background-color: yellow;	
			transform: rotateY(90deg) translateZ(10px);
		}



	}
}

.ball {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: red;
	border-radius: 100%;
	// transform-style: preserve-3d;
	// transform:translateX(0px) translateY(0px) rotateX(51deg) rotateY(165deg) ;
	transform: translateX(-24px) translateY(19px);
}